<body>
  <nav id="main-nav">
    <div class="container">
      <img src="../../images/2.png" class="logo" alt="">
      <div class="social">
        <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
        <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
        <a href="#"><i class="fa-brands fa-instagram fa-2x"></i></a>
        <a href="#"><i class="fa-brands fa-youtube fa-2x"></i></a>
      </div>
      <ul>
        <li><a href="/" class="current">Home</a></li>
        <li><a href="/about" >About</a></li>
      </ul>
    </div>
  </nav> 