<%- include('partials/head') %> 
  
<title>The Chain Link | Not Found </title>
</head>

<%- include('partials/nav') %> 

<ul>
  <li><a href="/" class="inactive">Home</a></li>
  <li><a href="/articles" class="inactive">Articles</a></li>
  <li><a href="/about" class="inactive">About</a></li>
</ul>
</div>
</nav> 

<section id="delete" class="delete">
  <div class="container">
    <article class="delete-dark">
      <h1 class="article-deleted">Not Found</h1>
      <a class="back-btn" href="/articles">
        <button class="btn">Back</button>
      </a>
    </article>
    </div>
</section>

<%- include('partials/footer') %> 