<%- include('partials/head') %> 
  
<title>The Chain Link | Content Moderation </title>
</head>

<%- include('partials/nav') %> 

<ul>
  <li><a href="/" class="inactive">Home</a></li>
  <li><a href="/articles" class="inactive">Articles</a></li>
  <li><a href="/about" class="inactive">About</a></li>
</ul>
</div>
</nav> 

<section id="mod" class="mod">
  <div class="container">
    <article class="mod-dark">
      <h1>Article Deleted</h1>
      <a href="/mod">
        <button class="btn">Back</button>
      </a>
    </article>
    </div>
</section>

<%- include('partials/footer') %> 