
<%- include('partials/head') %> 
  
<title>The Chain Link | Onchain News</title>
</head>

<%- include('partials/nav') %> 

<!-- Navigation -->
<ul>
  <li><a href="/" class="current">Home</a></li>
  <!-- <li><a href="/about" class="inactive">About</a></li> -->
  <li><a href="/articles" class="inactive">Articles</a></li>
  <li><a href="/about" class="inactive">About</a></li>
</ul>
</div>
</nav> 

<!-- Showcase -->

<header class="showcase">
  <div class="container">
    <div class="showcase-container">
      <div class="showcase-content">
        <a href="#" class="category category-bitcoin">Bitcoin</a>
        <h1>Dfinity annouces Bitcoin on the Internet Computer</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam doloribus et libero quae modi possimus accusamus illo? Ducimus, sapiente possimus!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam doloribus et libero quae modi possimus accusamus illo? Ducimus, sapiente possimus!</p>
        <a href="articles" class="btn btn-primary">2 min read</a>
      </div>
    </div>
  </div>
</header>

<!-- Home Articles -->

<%- include('partials/articles') %> 

<%- include('partials/footer') %> 
