<%- include('partials/head') %> 
  
<title>The Chain Link | About </title>
</head>

<%- include('partials/nav') %> 

<ul>
  <li><a href="/" class="inactive">Home</a></li>
  <li><a href="/articles" class="inactive">Articles</a></li>
</ul>
</div>
</nav> 

<%- include('partials/footer') %> 